.header {
  background-color: #ffb700;
  text-align: center;
  font-family: "Montserrat", "Inter", Arial, sans-serif;
  font-weight:bold;
  font-size: 30px;
}

.content {
  max-width: 800px;
  margin: auto;
  text-align: center;
  background: white;
  padding: 10px;
  font-family: "Manrope", Arial, sans-serif;
}
