.header {
  background-color: #685206;
  text-align: center;
  color: white;
  margin: -20px;
  margin-top: -20px;
  padding: 0;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 0;
  text-align: center;
  background: white;
  font-family: "Manrope", Arial, sans-serif;
}
