body {
    font-family:'Rubik';
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #000000;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://user-images.githubusercontent.com/109575115/184544920-4a88db8a-eb61-4e8e-86a2-273f3a3ad44d.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}  

html {
	scroll-behavior: smooth;
}

h1 {
	text-align:center;
	font-family: 'Raleway';
    font-size:60px;
	color:#1a1a1a;
    font-weight: bold;
}

h2 {
	text-align:center;
	font-family: 'Raleway';
   	font-size:20px;
	color:#1a1a1a;
  	font-weight: light;
}

h3 {
	text-align:center;
	font-family: 'Raleway';
    font-size:30px;
	color:#1a1a1a;
    font-weight: 400 px;
}

h4 {
	text-align:center;
	font-family: 'Raleway';
    font-size:18px;
	color:#1a1a1a;
    font-weight: 200 px;
}

input[type=number], select {
    width: 50%;
  	padding: 12px 20px;
 	margin: 8px 0;
 	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

table {
  	border-collapse: collapse;
  	width: 600px;
  	margin: auto;
	table-layout: fixed;
}

table, td, th {
  	border: 1px #ffffff;
  	padding: 10px;
}

tr {
  	border-bottom: 1px solid #ddd;
}  

th {
 	height: 30px;
	width: 120px;
	overflow: hidden;
 	color: #eef0ed;
	text-align: center;
 	background-color: #1a1a1a;
}

.button {
	background-color:#1a1a1a;
    color: #eef0ed;
	padding:10px;
    border: none;
    font-family: 'Raleway';
	font-weight:600;
	cursor:pointer;
    transition-duration: 0.3s;
}

.button:hover {
	background-color:#ffaa00;
    color: #1a1a1a;
}   
.buttonTab {
	background-color:#1a1a1a;
    border: none;
    color: #eef0ed;
	padding:10px;
    font-size: 16px;
   	font-family: 'Raleway';
	font-weight:600;
	cursor:pointer;
    transition-duration: 0.3s;
}

.buttonTab:hover {
	background-color:#ffaa00;
   	color: #1a1a1a;
}   

.disclaimer {
	text-align: center;
   	max-width: 70%;
   	margin: auto;
   	font-size: 12px;
   	color: #b3b3b3;
}

.expanded {
	max-width: 500px;
    margin: auto;
    text-align: center;
} 

.flex {
 	display: flex;
    margin: auto;
  	justify-content: center;

}

.flex-item + .flex-item {
 	margin-left: 10px;  
}

.main {
    flex-grow: 1;
}

.note {
    margin: auto;
    padding: 60px;
    max-width: 800px;
    text-align: center;
    border-style: solid;
    border-color: #b3b3b3;
    padding:10px;
    border-radius:3px 3px 3px 3px;
} 

.tab-folder > .tab-content:target ~ .tab-content:last-child, .tab-folder > .tab-content {
    display: none;
    
}
.tab-folder > :last-child, .tab-folder > .tab-content:target {
    display: block;
}

.title {
 	padding: 60px;
  	text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("https://user-images.githubusercontent.com/109575115/184544920-4a88db8a-eb61-4e8e-86a2-273f3a3ad44d.jpeg");
	display: block;
  	height: 50%;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	position: relative;
}
 
